@font-face {
	font-family: "Roboto-Light";
	src: url("../../../../assets/registration/fonts/roboto/Roboto-Light.ttf"); 
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("../../../../assets/registration/fonts/roboto/Roboto-Regular.ttf"); 
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../../../../assets/registration/fonts/roboto/Roboto-Bold.ttf"); 
}
@font-face {
	font-family: "Roboto-Medium"; 
	src: url("../../../../assets/registration/fonts/roboto/Roboto-Medium.ttf"); 
}

body{
	background-color: #e9ecef;
	margin: 0;
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: #000;
}

.bg-body{
	width: 100%; height: 200px; background-color: #030b41; position: fixed; top: 0; z-index: 50;
}


/* ================== Config ================== */ 
.clearer{
	clear: both;
}
.full-width{
	width: 100% !important;
}
.button-default{
	min-width: 150px; height: 45px; padding-left: 20px; padding-right: 20px; background-color: #f08c3c; border:1px solid #f08c3c;
	margin-top: 8px; margin-bottom: 8px; color: #fff; font-size: 16px;
	border-radius: 8px;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	margin-left: 4px;
	margin-left: 4px;
}
.button-default:hover{
	background-color: #f36e04; border:1px solid #f36e04;
}
.button-silver{
	min-width: 150px; height: 45px; padding-left: 20px; padding-right: 20px; background-color: #f5f6f8; border:1px solid #ebebeb;
	margin-top: 8px; margin-bottom: 8px; color: #555; font-size: 16px;
	border-radius: 8px;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	margin-left: 4px;
	margin-left: 4px;
}
.button-silver:hover{
	background-color: #ebebeb; border:1px solid #ebebeb;
}
.clr-orange{
	color: #f36e04 !important;
}
.title-field .icon-mandatory{
	display: inline-block; vertical-align: top; top: -5px; position: relative; color: red;
}
.input-group-addon{
	position: absolute; top: 14px; right: 15px;
}

/* ================== Wrapper ================== */ 
.wrapper{
	width: 640px; height: auto;  position: relative; z-index: 9999;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%); 
    -webkit-transition: background-color .2s ease-in .3s;
    transition: background-color .2s ease-in .3s;
}

/* ================== Header ================== */ 
header{
	width: auto;
	height: auto;
	position: relative;
}
.header{
	width: 640px; min-height: 10px; position: relative; z-index: 9999;
	margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;
	text-align: center;
}
.header .logo-header{
	width: 24%; min-height: 10px; display: inline-block; vertical-align: middle;
	text-align: left;
}
.header .logo-header img{
	width: 100px;
}
.header .menu-header{
	width: 75%; min-height: 10px; display: inline-block; vertical-align: middle;
	text-align: right;
}
.nav-mobile{
	display: none;
}

ul.ul-menu-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}
ul.ul-menu-header li {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin-left: 40px;
}
ul.ul-menu-header li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
ul.ul-menu-header li a:hover {
  color: #f5f6f8;
}

.box-header{
	width: 100%; height: auto; background-color: #fff; padding: 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.box-header .logo{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.box-header h3{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Roboto-Bold";
}
.box-header .desc-header{
	width: auto;
	margin-top: 20px;
}
.box-header .desc-header b{
	font-family: "Roboto-Bold";
}
.box-header .desc-header span{
	display: block;
	font-family: "Roboto-Light";
	position: relative; margin-top: 8px;
	opacity: 0.87;
}

/* ============================== Side Menu ----------------------------- */
.box-menu{
	height: 100%; position: fixed; top:0;
	z-index: 9999; overflow-x: hidden;
	width: 280px;
	left: -280px;
	transition: 0.5s;
	-webkit-transition:.5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}
.close-menu{
	cursor: pointer;
	font-size: 24px;
	color: #CCC;
	text-align: center;
	position: absolute;
	right: 20px;
	top:15px;
	z-index: 100;
}
.close-menu:hover{
	color: #ebebeb;
} 
.logo-mobile{
	width: auto;
	height: auto;
	padding-top: 50px;
	padding-bottom: 0px;
	text-align: center;
}
.logo-mobile img{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.modal-overlay-menu{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:transparent;
	display: none
}
.mobile-menu{
	margin-top: 40px;
	margin-bottom: 20px;
}
.mobile-list-menu{
	width: 100%;
	padding: 10px 22px;
	font-size: 15px;
	position: relative;
	cursor: pointer;
}
.mobile-list-menu a{
	width: 100%;
	display: block;
	color: #555555;
	
}
.mobile-list-menu a span{
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	left: 2px;
	top: -5px;
	border-radius: 50%;
	line-height: normal;
	font-size: 12px;
	color: #e71d2d !important;
}

/* ================== Content ================== */ 
.box-content{
	width: 100%;
	height: auto;
	position: relative;
	background-color: #fff;
}
.box-content .title-content{
	width: auto; background-color: #030b41; padding:10px 25px; color: #fff;
}
.box-content .title-content h3{
	font-size: 16px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase;
}
.box-content .desc-content{
	width: auto;
	min-height: 100px;
	padding:15px 25px;
	background-color: #fff;
}
.box-field{
	width: auto; height: auto; margin-top: 8px; margin-bottom: 8px;
}
.box-field .title-field{
	width: auto; margin-bottom: 8px;
}
.box-field .title-field span{
	display: block;
	font-size: 12px;
	font-family: "Roboto-Light";
	opacity: 0.87;
}
.box-field b{
	font-family: 'Roboto-Medium';
}
.text-field{
	width: 100%; height: 40px; border:1px solid rgba(0, 0, 0, 0.1); position: relative;
	padding-left: 15px;
	padding-right: 15px;
	color: #555;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	border-radius: 8px;
}
.text-field::placeholder { 
	opacity: 0.3; 
	color: #555;
}
.text-field:-ms-input-placeholder { 
	opacity: 0.3; 
	color: #555;
}
.text-field::-ms-input-placeholder {
	opacity: 0.3;
	color: #555; 
}
.text-field:focus {
 	border: 1px solid #030b41;
 	outline: 0;
}
.box-label{
	width: auto;
	height: auto;
	position: relative;
}
.box-label span{
	display:block; font-size: 12px; font-family: 'Roboto-Light'; opacity: 0.87;
}
.box-footer{
	width: auto;
	height: auto;
	background-color: #fff;
	padding: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.box-highlight{
	width: auto; background-color: #f5f6f8; padding: 15px; border:1px solid #ddd;
}

/* ========================= Upload File ========================= */
.fileUpload {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
}
.box-upload-file{
	width: auto;
	position: relative;
}
.text-upload{
	width: 100%; height: 42px; margin-top: 5px; position: relative; background-color: transparent; border:2px solid #ebebeb;
	border-radius: 12px;
	padding-left: 15px;
}
.button-file{
	min-width: 10px;
	height: 42px;
	line-height: 40px;
	border: 2px solid #ebebeb;
	color: #777;
	margin-top: 4px;
	margin-bottom: 4px;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	background-color: #ebebeb;
}
.button-file:hover{
	border:2px solid #007ba1;
	background-color: #007ba1;
	color: #ffffff;
}

/* ================================ Table ================================ */
.box-table{
	width: 100%;
	height: 100%;
	position: absolute;
}
.box-table .display-table{
	display: table;
	width: 100%;
	height: 100%;
}
.box-table .display-table .display-table-cell{
	display: table-cell;
	vertical-align: middle;
}

/* ================================ Selector ================================ */
.list-content-selector{
	width: auto; min-height: 10px;
}
.content-radio{
	width: auto; margin-left: 30px; position: relative;
	top: 0px;
}
.container-radio {
	top:0px;
	display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content-radio .type{
	width: 60%; float: left;
}
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    z-index: 50;
}
.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid #555;
    border-radius: 50%;
}
.container-radio:hover input ~ .checkmark-radio {
    background-color: #f5f6f8;
}
.container-radio input:checked ~ .checkmark-radio {
    background-color: #030b41;
}
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}
.container-radio input:checked ~ .checkmark-radio:after {
    display: block;
}
.container-radio .checkmark-radio:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.list-check-item{
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}
.container-check {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width: 100%;
}
.checkmark {
	position: absolute;
	top: 0.5px;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: transparent;
	border: 1px solid #a8a8a8;
	border-radius: 3px;
}
.container-check:hover input ~ .checkmark {
	border: 1px solid #f08c3c;
}
.container-check input:checked ~ .checkmark {
	background-color: #f08c3c;
	border: 1px solid #f08c3c;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.container-check input:checked ~ .checkmark:after {
	display: block;
}
.container-check .checkmark:after {
	left: 5px;
	top: 1.5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.title-check {
    position: absolute;
    top: -2px;
    left: 25px;
}

.select-option-field  {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    top: 0px;
    float: right;
    width: 100%;
    margin-bottom: 10px;
}
.select-option-field select {
    line-height:normal;
    height:42px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    display:block;
    width:100%;
    border:2px solid #ebebeb;
    padding-left: 12px; 
    padding-right: 15px;
    margin:0;
    line-height:normal;
    color: #666;
    margin-left: 0px;
    margin-top: 4px;
    background-color: #fff;
    border-radius: 12px;
}
.ie8 .select-option-field select{padding-right:3px}
.select-option-field select:focus {
    background:white;
    outline:none;
    font-family: 'Poppins-Regular';
}
.select-option-field ::-ms-expand {
 display:none;
}
.select-option-field:after{
    content:"";
    position:absolute;
    z-index:2;
    right:15px;
    top:50%;
    margin-top:-3px;
    height:0;
    width:0;
    border-top:6px solid #c2c2c2;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
}

/* ================== Login ================== */ 
.box-login{
	width: 320px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.box-link{
	width: auto;
	height: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.box-link a{ 
	color: #030b41;
	text-decoration: none;
}
.box-link a:hover{ 
	color: #f08c3c;
}
.line{
	width: 100%; height: 1px; border:1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {

	.nav-mobile{
		display: inline-block;
		vertical-align: middle;
		width: auto; height: auto; margin-right: 20px; font-size: 24px; color: #fff;
	}

}

@media (max-width: 767px) {
	.wrapper{
		width: 100%;
		margin: auto;
	}
	.box-header{
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}